[submodule "components/adpd188"]
	path = components/adpd188
	url = https://github.com/mauriciobarroso/adpd188.git
[submodule "components/at24cs0x"]
	path = components/at24cs0x
	url = https://github.com/mauriciobarroso/at24cs0x.git
[submodule "components/bme68x_lib"]
	path = components/bme68x_lib
	url = https://github.com/mauriciobarroso/bme68x_lib.git
[submodule "components/bsec2"]
	path = components/bsec2
	url = https://github.com/mauriciobarroso/bsec2.git
[submodule "components/button"]
	path = components/button
	url = https://github.com/mauriciobarroso/button.git
[submodule "components/i2c_bus"]
	path = components/i2c_bus
	url = https://github.com/mauriciobarroso/i2c_bus.git
[submodule "components/mics6814"]
	path = components/mics6814
	url = https://github.com/mauriciobarroso/mics6814.git
[submodule "components/shtc3"]
	path = components/shtc3
	url = https://github.com/mauriciobarroso/shtc3.git
[submodule "components/tpl5010"]
	path = components/tpl5010
	url = https://github.com/mauriciobarroso/tpl5010.git
